/* most pages */
footer {
  background-color: #043c37;
  color: white;
}

h2 {
  text-decoration: underline;
  text-align: center;
  font-weight: bolder;
}
/* mainly for index */
.otherQ {
  background-color: #009688;
  text-align: center;
}
.background{
background-color: #009688;
}
.Certification{
  background-color: #043c37;
  color: white;
}


/* projects page  */
.cards{
  background-color: #009688;
}

.heading{
  padding-left: 5%;
  padding-top: 150px;
  font-size: 4em;
  font-weight: bolder;

}
